.TodoList{
    flex-grow: 1;
}

ul{
    width: 94%;
    margin: 0 auto;
}

.TodoList h4{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #333;
}